body{
  background-image: url(https://i.imgur.com/rO23C4K.jpeg); 
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(100,100,100);
  padding: 80px;
  font-family: bookman old style; 
}

.container{
  margin: auto;
  min-width: 60px;
  max-width: 500px;
  background-color: rgba(230,230,230, 0.9);
}

.division{
  padding: 20px;
}

h1{
  text-align: center;
}
.description{
  text-align: center;
}

.tags{
  display: block;
  padding-bottom: 3px;
}
.boxes{
  width: 100%;
  border: 0;
  height: 25px;

}

select{
width: 100%;
border: 0;
height: 25px;
font-family: bookman old style;
}

::placeholder{
  font-family: bookman old style;
}

label{
  display: block;
}

textarea{
  display: block;
  border: 0;
  width: 100%;
}

.submit{
display: block;
width: 100%;
background-color: rgb(100,100,100);
color: white;
border: 0;
height: 60;
font-family: bookman old style;
font-size: 16;
}